
#stopDef {
  background-color:lightgrey;
}


#imageArea {
  margin: auto;
	background-color: gray;
	border-radius:20pt;
	box-shadow:0 0 35pt rgba(0,0,0,0.05);
  width: 350pt;
  height: 200pt;
	padding:60pt 40pt;
	text-align: center;
	cursor:pointer;
	transition:.3s;
}
.message{
  font-size: 25;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  
}
#imageArea:hover {
	box-shadow:0 0 45pt rgba(123,5,3,2.1);
}

#preview {
	margin-top:20pt;
}
#preview .image-view {
  display: inline-block;
	position:relative;
	margin-right: auto;
	margin-bottom: auto;
}
#preview .image-view img {
  width: auto;
  height: auto;
  max-width: 350pt;
  max-height: 200pt;
  margin-left: auto;
  margin-right: auto;
}
#preview .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
}